.navbar {
    color: white;
    background-color: black;
}

.netflix-footer {
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    border-top: 2px solid white;
}

.navbar img {
    height: 64px;
    border-radius: 10px;
}

.navbar .navbar-env img {
    float: left;
    height: 32px;
}
